# Customer Churn Prediction

## 1. Problem definition

## 2. Data

## 3. Evaluation

## 4. Features

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import sklearn
# import tensorflow_decision_forests as tfdf
import tensorflow as tf
import math

In [40]:
df_1 = pd.read_csv("data/sampleSubmission.csv")
df_2 = pd.read_csv("data/test.csv")
df_3 = pd.read_csv("data/train.csv")
m1_df = df_2.merge(df_1)
main_df = m1_df.append(df_3)
main_df.drop(["id"], inplace = True, axis = 1)
main_df.head(15)

C:\Users\chadi\AppData\Local\Temp\ipykernel_36228\218903713.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_df = m1_df.append(df_3)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,yes
1,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,no
2,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,no
3,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,yes
4,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3,yes
5,IL,142,area_code_415,no,no,0,84.8,95,14.42,136.7,63,11.62,250.5,148,11.27,14.2,6,3.83,2,no
6,LA,172,area_code_408,no,no,0,212.0,121,36.04,31.2,115,2.65,293.3,78,13.20,12.6,10,3.40,3,no
7,GA,72,area_code_415,no,yes,37,220.0,80,37.40,217.3,102,18.47,152.8,71,6.88,14.7,6,3.97,3,no
8,NJ,149,area_code_408,no,no,0,140.4,94,23.87,271.8,92,23.10,188.3,108,8.47,11.1,9,3.00,1,no
9,ID,119,area_code_415,no,no,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,yes
10,WY,87,area_code_415,no,no,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,no
11,WI,68,area_code_415,no,no,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,no
12,MN,74,area_code_510,no,yes,33,193.7,91,32.93,246.1,96,20.92,138.0,92,6.21,14.6,3,3.94,2,no
13,CO,55,area_code_408,no,yes,25,165.6,123,28.15,136.1,95,11.57,175.7,90,7.91,11.0,2,2.97,3,no
14,TX,106,area_code_510,no,no,0,210.6,96,35.80,249.2,85,21.18,191.4,88,8.61,12.4,1,3.35,2,no

In [22]:
main_df.isnull().any()

state                            False
account_length                   False
area_code                        False
international_plan               False
voice_mail_plan                  False
number_vmail_messages            False
total_day_minutes                False
total_day_calls                  False
total_day_charge                 False
total_eve_minutes                False
total_eve_calls                  False
total_eve_charge                 False
total_night_minutes              False
total_night_calls                False
total_night_charge               False
total_intl_minutes               False
total_intl_calls                 False
total_intl_charge                False
number_customer_service_calls    False
churn                            False
dtype: bool

In [23]:
main_df.dtypes

state                             object
account_length                     int64
area_code                         object
international_plan                object
voice_mail_plan                   object
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
churn                             object
dtype: object

In [41]:
main_df['churn'] = main_df['churn'].map({'yes':1 ,'no':0})
main_df

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,1
1,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
2,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
3,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,1
4,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,no,no,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,0
4246,WV,73,area_code_408,no,no,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,0
4247,NC,75,area_code_408,no,no,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,0
4248,HI,50,area_code_408,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,0
4249,VT,86,area_code_415,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,0

In [45]:
# Convert categorical data to numeric with `pd.get_dummies`
list_m = main_df.dtypes[main_df.dtypes == "object"].index.tolist()

ml_df = pd.get_dummies(main_df, prefix=list_m)
ml_df

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,...,state_WI,state_WV,state_WY,area_code_area_code_408,area_code_area_code_415,area_code_area_code_510,international_plan_no,international_plan_yes,voice_mail_plan_no,voice_mail_plan_yes
0,128,25,265.1,110,45.07,197.4,99,16.78,244.7,91,...,0,0,0,0,1,0,1,0,0,1
1,118,0,223.4,98,37.98,220.6,101,18.75,203.9,118,...,0,0,0,0,0,1,0,1,1,0
2,62,0,120.7,70,20.52,307.2,76,26.11,203.0,99,...,0,0,0,0,1,0,1,0,1,0
3,93,0,190.7,114,32.42,218.2,111,18.55,129.6,121,...,0,0,0,0,0,1,1,0,1,0
4,174,0,124.3,76,21.13,277.1,112,23.55,250.7,115,...,0,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,83,0,188.3,70,32.01,243.8,88,20.72,213.7,79,...,0,0,0,0,1,0,1,0,1,0
4246,73,0,177.9,89,30.24,131.2,82,11.15,186.2,89,...,0,1,0,1,0,0,1,0,1,0
4247,75,0,170.7,101,29.02,193.1,126,16.41,129.1,104,...,0,0,0,1,0,0,1,0,1,0
4248,50,40,235.7,127,40.07,223.0,126,18.96,297.5,116,...,0,0,0,1,0,0,1,0,0,1
4249,86,34,129.4,102,22.00,267.1,104,22.70,154.8,100,...,0,0,0,0,1,0,1,0,0,1

In [52]:
pd.set_option('display.max_rows', 100)
ml_df.isnull().any()

account_length                   False
number_vmail_messages            False
total_day_minutes                False
total_day_calls                  False
total_day_charge                 False
total_eve_minutes                False
total_eve_calls                  False
total_eve_charge                 False
total_night_minutes              False
total_night_calls                False
total_night_charge               False
total_intl_minutes               False
total_intl_calls                 False
total_intl_charge                False
number_customer_service_calls    False
churn                            False
state_AK                         False
state_AL                         False
state_AR                         False
state_AZ                         False
state_CA                         False
state_CO                         False
state_CT                         False
state_DC                         False
state_DE                         False
state_FL                         False
state_GA                         False
state_HI                         False
state_IA                         False
state_ID                         False
state_IL                         False
state_IN                         False
state_KS                         False
state_KY                         False
state_LA                         False
state_MA                         False
state_MD                         False
state_ME                         False
state_MI                         False
state_MN                         False
state_MO                         False
state_MS                         False
state_MT                         False
state_NC                         False
state_ND                         False
state_NE                         False
state_NH                         False
state_NJ                         False
state_NM                         False
state_NV                         False
state_NY                         False
state_OH                         False
state_OK                         False
state_OR                         False
state_PA                         False
state_RI                         False
state_SC                         False
state_SD                         False
state_TN                         False
state_TX                         False
state_UT                         False
state_VA                         False
state_VT                         False
state_WA                         False
state_WI                         False
state_WV                         False
state_WY                         False
area_code_area_code_408          False
area_code_area_code_415          False
area_code_area_code_510          False
international_plan_no            False
international_plan_yes           False
voice_mail_plan_no               False
voice_mail_plan_yes              False
dtype: bool

In [54]:
ml_df.dtypes

account_length                     int64
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
churn                              int64
state_AK                           uint8
state_AL                           uint8
state_AR                           uint8
state_AZ                           uint8
state_CA                           uint8
state_CO                           uint8
state_CT                           uint8
state_DC                           uint8
state_DE                           uint8
state_FL                           uint8
state_GA                           uint8
state_HI                           uint8
state_IA                           uint8
state_ID                           uint8
state_IL                           uint8
state_IN                           uint8
state_KS                           uint8
state_KY                           uint8
state_LA                           uint8
state_MA                           uint8
state_MD                           uint8
state_ME                           uint8
state_MI                           uint8
state_MN                           uint8
state_MO                           uint8
state_MS                           uint8
state_MT                           uint8
state_NC                           uint8
state_ND                           uint8
state_NE                           uint8
state_NH                           uint8
state_NJ                           uint8
state_NM                           uint8
state_NV                           uint8
state_NY                           uint8
state_OH                           uint8
state_OK                           uint8
state_OR                           uint8
state_PA                           uint8
state_RI                           uint8
state_SC                           uint8
state_SD                           uint8
state_TN                           uint8
state_TX                           uint8
state_UT                           uint8
state_VA                           uint8
state_VT                           uint8
state_WA                           uint8
state_WI                           uint8
state_WV                           uint8
state_WY                           uint8
area_code_area_code_408            uint8
area_code_area_code_415            uint8
area_code_area_code_510            uint8
international_plan_no              uint8
international_plan_yes             uint8
voice_mail_plan_no                 uint8
voice_mail_plan_yes                uint8
dtype: object

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = '***'
host = 'localhost'
port = 5432
database_name = 'churn_pred'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
engine.table_names()

In [ ]:
ml_df.to_sql(name='fact_churn', con=engine, if_exists='append', index=False)

In [ ]:
# SQL CODE
CREATE TABLE fact_churn (
account_length int,
number_vmail_messages int,
total_day_minutes decimal(10,2),
total_day_calls int,
total_day_charge decimal(10,2),
total_eve_minutes decimal(10,2),
total_eve_calls int,
total_eve_charge decimal(10,2),
total_night_minutes decimal(10,2),
total_night_calls int,
total_night_charge decimal(10,2),
total_intl_minutes decimal(10,2),
total_intl_calls int,
total_intl_charge decimal(10,2),
number_customer_service_calls int,
churn int,
state_AK int,
state_AL int,
state_AR int,
state_AZ int,
state_CA int,
state_CO int,
state_CT int,
state_DC int,
state_DE int,
state_FL int,
state_GA int,
state_HI int,
state_IA int,
state_ID int,
state_IL int,
state_IN int,
state_KS int,
state_KY int,
state_LA int,
state_MA int,
state_MD int,
state_ME int,
state_MI int,
state_MN int,
state_MO int,
state_MS int,
state_MT int,
state_NC int,
state_ND int,
state_NE int,
state_NH int,
state_NJ int,
state_NM int,
state_NV int,
state_NY int,
state_OH int,
state_OK int,
state_OR int,
state_PA int,
state_RI int,
state_SC int,
state_SD int,
state_TN int,
state_TX int,
state_UT int,
state_VA int,
state_VT int,
state_WA int,
state_WI int,
state_WV int,
state_WY int,
area_code_area_code int,
area_code_area_code int,
area_code_area_code int,
international_plan_no int,
international_plan_yes int,
voice_mail_plan_no int,
voice_mail_plan_yes int
)